*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
html{
    width:100vw;
    overflow-x: hidden;
}
body{
    width:100%;
    overflow: hidden;
}
.root{
    width:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top:0.1px;
}

a{
    text-decoration: none;
}



@keyframes changeslide{
    98%{
        transform: translateX(-100%);
        opacity: 1;
    }
    99%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 0;
    }
}

.container{
    scrollbar-width: none;
}
.container::-webkit-scrollbar{
    display: none;
}


.leftctrl{
    background-image: url("../res/images/utils/leftarrow.png");
}
.rightctrl{
   background-image: url("../res/images/utils/rightarrow.png");
}


.upperfooter ul{
    list-style-type:"> ";
}

.upperfooter input[type="submit"]:hover{
    background-color: rgb(130, 190, 10);
    cursor: pointer;
}
.upperfooter input[type="submit"]:active{
    background-color: rgb(91, 136, 0);
}