
/* Imgslider Component CSS */

.slidercontainer{
    width:100%;
    margin-top:10vh;
}
.imgslider{
    position: relative;
    width:100%;
    height:100%;
    overflow: hidden;
}

.imgslider .slide{
    position: absolute;
    width:100%;
    opacity: 0;
}

.refslide{
    width:100%;
    opacity: 0;
    z-index: -1;
}

.refslide img{
    width:100%;
    height:100%;
}

@keyframes changeslide{
    98%{
        transform: translateX(-100%);
        opacity: 1;
    }
    99%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 0;
    }
}

.slide img{
    position: relative;
    width:100%;
}

.slidenav{
    position: absolute;
    bottom:3%;
    margin: auto;
    left:50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slidenavlink{
    display: inline-block;
    border: 1px solid white;
    background-color: grey;
    padding:5px;
    margin:5px;
    border-radius: 10px;
    cursor:pointer;
}

/* Trending Component CSS */
.trending{
    width:100%;
    padding:50px;
    text-align: center;
}

.trending-text h1{
    font-size:2rem;
    color:white;
    letter-spacing: 0.5rem;
}

.divider{
    border:2px solid lawngreen;
    width:70%;
    border-radius: 10px;
    margin: 20px auto;
}

.cardcontainer{
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap: wrap;
}

.card{
    background-color: whitesmoke;
    margin:10px;
    padding:10px;
    color:black;
    width:240px;
    height: 340px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
}

.card .divider{
    border:2px solid tomato;
    margin:1px auto;
    width: 100%;
}

.cardimg{
    width:100%;
    height:50%;
    padding:10px;
}

.cardimg img{
    max-width:100%;
    max-height:100%;
}

.cardhead{
    padding:10px;
    width:100%;
    height:30%;
    overflow: hidden;
}

.cardhead p{
    color:black;
    font-weight: bold;
    text-align: left;
    font-size: 1rem;
}

.cardprice{
    display: table;
    width:100%;
    height:17%;
    padding:10px;
    overflow: hidden;
}

.cardprice p{
    display: table-cell;
    vertical-align:middle;
    height: 100%;
    color:black;
    text-align: left;
    font-size: 0.9rem;
    font-weight: 500;
}

/* Top Brand Component CSS */

.topbrand{
    width:100vw;
    background-color: white;
    padding:20px;
    text-align: center;
    color:black;
}

.topbrand-head h1{
    font-size: 2rem;
    letter-spacing: 0.5rem;
}

.container{
    position: relative;
    height: 190px;
    overflow-x: scroll;
    scrollbar-width: none;
    width:91%;
    margin: auto;
    scroll-behavior: smooth;
}

.outercontainer{
    position: relative;
}

.container::-webkit-scrollbar{
    display: none;
}

.brandcontainer{
    display: flex;
    top:0;
    left:0;
    justify-content: space-between;
    align-items: center;
    margin:15px;
}

.brand{
    display: inline-block;
    width:150px;
    height:150px;
    margin:0px 10px;
    background-color: green;
}


.leftctrl{
    position: absolute;
    left:3%;
    transform: translateY(-50%);
    background-image: url("../res/images/utils/leftarrow.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.rightctrl{
    position: absolute;
    right:3%;
    transform: translateY(-50%);
    background-image: url("../res/images/utils/rightarrow.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.outercontainer button{
    top:50%;
    background-color: white;
    border:none;
    border-radius: 1rem;
    height: 30px;
    width: 30px;
    padding:5px;
    box-shadow: 2px 2px 20px black;
    z-index: 9;
}